<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= category%> Products</h1>
      <ul>
        <% for(let product of products) { %>
        <li><a href="/products/<%=product._id%>"><%= product.name %></a></li>
        <% }%>
      </ul>

      <div class="btn-container">
        <div class="btn">
          <a href="/products/new">Add a product</a>
        </div>
        <% if(category !== 'All') { %>
        <div class="btn">
          <a href="/products">All products</a>
        </div>
        <% }%>
      </div>
    </div>
  </body>
</html>
